{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href='{% static "css/styles.css" %}' rel="stylesheet">
</head>
<body>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link" href="#">Documentos</a>
        <a class="nav-item nav-link" href="#">Imagenes</a>
        <a class="nav-item nav-link" href="#">Videos</a>
        <a class="nav-item nav-link" href="#">Audios</a>
        <a class="nav-item nav-link" href="#">Calendario</a>
        </div>
        </div>
    </nav>
</body>
</html>