{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href='{% static "css/styles.css" %}' rel="stylesheet">
</head>
<body>
    <div class="center">
        <h1>Hola mundo</h1> 
        <p>Home-lab </p>
    </div>
    <div class="center">
        <input type="text" class="inputtext _55r1 _6luy _9npi" name="email" id="email" data-testid="royal_email" placeholder="User" autofocus="1" aria-label="Correo electrónico">
        <br>
        <input type="password" class="inputtext _55r1 _6luy _9npi" name="pass" id="pass" data-testid="royal_pass" placeholder="Password" aria-label="Password">
        <br>
        <button value="1" class="_42ft _4jy0 _6lth _4jy6 _4jy1 selected _51sy" name="login" data-testid="royal_login_button" type="submit" id="u_0_5_jd">Iniciar sesión</button>
    </div>
    <div class="center">
        <p>Signup</p><link href="">
    </div>
</body>
<footer class="center">
    <h5>Desarrollador: 0002itz</h5>
</footer>
</html>