<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Hola mundo</h1> 
    </div>
    <div>
        <input type="text" class="inputtext _55r1 _6luy" name="email" id="email" data-testid="royal_email" placeholder="Correo electrónico o número de teléfono" autofocus="1" aria-label="Correo electrónico o número de teléfono">
        <input type="password" class="inputtext _55r1 _6luy _9npi" name="pass" id="pass" data-testid="royal_pass" placeholder="Contraseña" aria-label="Contraseña">
    </div>
</body>
</html>